
Escherichia_coli_Test_Data.fa

Extended_CoDing_Sequences_For_Training_1.faa

Extended_CoDing_Sequences_For_Training_Biggest.faa

Extended_CoDing_Sequences_For_Training_CD

Extended_CoDing_Sequences_For_Training_CD_80.clstr

Extended_CoDing_Sequences_For_Training_CD_80.fa

Extended_CoDing_Sequences_For_Training_CD.clstr

Extended_CoDing_Sequences_For_Training_test.csv

Extended_CoDing_Sequences_For_Training_test.fa

Extended_CoDing_Sequences_For_Training.csv

Extended_CoDing_Sequences_For_Training.fa

Old_Model/classifier/__pycache__/
